/*================================================
                html,body
==================================================*/
html,
body {
    height: 100%;
}
section {
    background: #fff;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Open Sans", sans-serif;
}

/*================================================
                Login page & Forgot Password & 
                change password & sign up 
==================================================*/
#login,#forgot-password,#change-password,#sign-up,#email-verification{
    position: relative;
    background-image: url(../image/login-bg/login-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.logo-img{
    margin: 0 auto;
    margin-top: 20%;
    margin-bottom: 20px;
    
}
.overlay{
    background-color: rgba(0, 0, 80, 0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.form-container{
    position: relative;
    border: 1px solid #fff;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    padding: 0 50px;
    margin-bottom: 25px; 
}
.form-container h1,h5{
    text-align: center !important;
}
.form-container h1{
    margin-top: 30px;
    font-size: calc(24 + .6vw);
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
}
.form-container h5{
    font-size: 14px;
    margin: 20px 0 25px 0;
    font-weight: 400;
    line-height: 19px;
    color: #333333;

}

label{
    font-family: "Open Sans",sans-serif;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}
#exampleInputEmail1,#exampleInputEmail2,#exampleInputEmail3,
#fname,#lname,#birthday,#address1,#address2,#city,#state,
#zip-code,#university,#college{
    position: relative;
    border: 1px solid #6255a5;
    border-radius: 3px;
    margin-bottom: 10px;
    height: 40px;
}
.email input,.first-name input,.last-name input,.birthday input
,.profile-picture input{
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #000;

}
#exampleInputPassword1,#exampleInputPassword2,
#exampleInputPassword3,#exampleInputPassword4,
#exampleInputPassword5,#exampleInputPassword6{
    border: 1px solid #ff5e5e;
    border-radius: 3px;
    margin-bottom: 10px;
    height: 40px;
    
}
.password input{
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;

}
.password a{    
    float: right;
}
.field-icon{
    float: right;
    position: relative;
    padding-right: 25px;
    z-index: 2;
    bottom: 40px;
    right: 10px;
    font-size: 17px;
    color: #d1d1d1;
    
}
#exampleCheck1{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    margin-bottom: 30px;
}
.form-check{
   position: relative;
   margin: 0;
   top: 20px;
}
.form-check input{
    position: relative;
    border: 1px solid #d1d1d1;
    width: 30px;
    height: 25px;
    border-radius: 3px;
    margin: 0;
    padding: 0;
}
.form-check label{
    position: relative;
    left: 40px;
    bottom: 51px;
    margin: 0;
    padding: 0;
}
.btn{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    background: #6255a5;
    color: #fff;
    border-radius: 3px;
    font-size: 18px;
    line-height: 22px;
    height: 40px;
    border: none;
    
}
.btn:hover{
    background: #6255a5;
    color: #fff;
}
.bottom-text{
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}
.bottom-text a{
    color: #6255a5;
}
/*================================================
                Forgot password
==================================================*/
.fp-logo-img{
    margin: 0 auto;
    margin-top: 30%;
    margin-bottom: 5%;
}
.fp .btn{
    font-family: "Open Sans",sans-serif;
    margin-top: 3%;
    margin-bottom: 5%;
    text-transform: uppercase;
}
/*================================================
                Sign Up
==================================================*/
.sign-up-logo-img{
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 3%;
}
/*================================================
                User Profile
==================================================*/
#user-profile{
    background: url(../image/user-profile/banner-with-overlay.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    height: 250px;
    width: 100%;
}
#user-statment h1{
    position: relative;
    top: 70px;
    color: #ffffff;
    font-family: "Open Sans",sans-serif;
    font-size: calc( 40px + 0.8vw);
    font-weight: 600;
    line-height: 52px;
}
.heading h2{
    color: #6255a5;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 10px;
   
} 
#gender,#country{
    position: relative;
    border: 1px solid #6255a5;
    border-radius: 3px;
    margin-bottom: 10px;
    height: 40px;
    width: 555px;
}
#gender option{
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #000;    
}

.ph{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.phone input{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
    width: 80%;
    height: 40px;     
}
.phone select{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
    width: 16%;
    height: 40px; 
    border-color: #d1d1d1
}
.mmp input,.mmp select{
    border: 1px solid #d1d1d1 !important;
}
#profile-picture{
    position: relative;
    border: 1px solid #6255a5;
    border-radius: 3px;
    margin-bottom: 10px;
    height: 100px;
}
.btn1{
    margin-left: 13px;
    margin-top: 30px;
    margin-bottom: 60px;
    color: #fff;
    background: #6255a5;
    width: 150px;
    height: 50px;
    border-radius: 3px;
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    line-height: 22px;
}
footer {
    background: #fff;
    padding: 40px;
    border: 1px solid #8a8a8a;
}

footer p {
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    line-height: 18px;
    margin: 0;
    margin-top: 10px;
}
ul.social-list li {
    display: inline-block;
    padding: 0;
}
ul.social-list li a{
    text-align: center;
    border: 1px solid #fff;
    background: #6255a5;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding-top: 20%;
}
/*================================================
                Nav bar
==================================================*/
.navbar{
    padding-top: 10px;
    padding-left: 100px;
    transition: all 300ms linear;
}
.site-nav-wrapper{
    padding: 0 85px;
}
.navbar-brand img{
    transform: translateY(-7px);
}
.navbar-brand1 img{
    margin-top: 5px;
}

.nav > li > a > img{
    width: 32px;
    transform: translateY(-5px);
}
ul.navbar-nav > li > a{
    font-family: "Open Sans",sans-serif;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
}
ul.navbar-nav > li > a:hover,
ul.navbar-nav > li > a:focus {
    background: none;
    
}
.nav .btn2{
    font-family: "Open Sans",sans-serif;
    background: #fff;
    color: #6255a5;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}
/*White Navigation*/
.white-nav-top,.nav-notes {
    background: #fff;
    padding-top: 10px;
    padding-left: 100px;
    transition: all 300ms linear;
    -webkit-box-shadow: 0 8px 6px -9px #999;
    box-shadow: 0 8px 6px -9px #999;
    z-index: 2;
}
.white-nav-top ul.navbar-nav > li > a,
.nav-notes ul.navbar-nav > li > a {
    color: #212226;
    font-weight: 700;
    margin: 0;
    padding: 15px;
}

.white-nav-top ul.navbar-nav > li > a:hover,
.white-nav-top ul.navbar-nav > li > a:focus,
.nav-notes ul.navbar-nav > li > a:hover,
.nav-notes ul.navbar-nav > li > a:focus {
    color: #6255a5;
}
.white-nav-top .btn2,
.nav-notes .btn2{
    font-family: "Open Sans",sans-serif;
    color: #fff;
    border-radius: 3px;
    background: #6255a5;
    height: 30px;
    transform: translateY(-5px);
}
/*================================================
                Email verification
==================================================*/
.email-verification{
    margin-top: 40%;
    padding: 30px;
}
.email-verification h1{
    text-align: left !important;
}
.logo-img1{
    margin-top: 30px;
    margin-bottom: 50px;
}
.email-verification h4{
    text-align: left ;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #333333;
    margin-top: 30px;
    margin-bottom: 20px;
}
.email-verification h5{
    text-align: left !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}
.email-verification .btn{
    text-transform: uppercase;
    font-weight: 600;
    height: 50px;
    line-height: 22px;
}
/*================================================
                Home page
==================================================*/
#home{
    background: url(../image/home/banner-with-overlay.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    height: 620px;
    width: 100%;
}
#instruction{
    margin-top: 20%;
    color: #ffffff; 
    
}
#instruction h1{
    font-size: calc(35px + 1vw);
    font-weight: 700;
    line-height: 54px;
}
#instruction p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
#instruction a{
    position: relative;
    top: 20px;
    color: #fff;
    width: 172px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
}
.horizontal-heading{
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
    margin-top: 60px;
}
#about-right p{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
}
#about-right p:first-child{
    margin-top: 60px;
    margin-bottom: 50px;
}
#about-right p:nth-child(2){
    margin-bottom: 60px;
}
#work{
    text-align: center;
    background: #f4f4f4;
}
#work .horizontal-heading h2{
    margin-top: 60px;
    margin-bottom: 60px;
    line-height: 38px;
}
.download{
    width: 140px;
    height: 140px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #fff;
    padding: 40px;
    border-radius: 100px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08)
}
.work-left h4{   
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #6255a5 ;
}
.work-left p{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
}
.work-left button{
    width: 172px;
    height: 40px;
    text-transform: uppercase;
    border-radius: 3px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    background: #6255a5;
    margin-bottom: 60px;
}
.seller{
    width: 140px;
    height: 140px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #fff;
    padding: 40px;
    border-radius: 100px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08)
}
.work-right h4{   
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #6255a5 ;
}
.work-right p{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
}
.work-right button{
    width: 172px;
    height: 40px;
    text-transform: uppercase;
    border-radius: 3px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    background: #6255a5;
    margin-bottom: 60px;
}
.customer{
    width: 100%;
    padding: 30px 30px;
    margin-bottom: 30px;
    border-radius: 3px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08)
}
#customers .horizontal-heading h2{
    margin-bottom: 60px;
}
.customer img{
    margin-bottom: 20px;
}
.customer h4{
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
    line-height: 36px;
    color: #6255a5;
    margin: 0;
}
.intro{
    margin-top: 20px;
}
.intro p{
    font-style: normal !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}
.customer p{
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 28px;
    color: #333333;
}
/*================================================
                Search page
==================================================*/
#search{
    background: url(../image/search/banner-with-overlay.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    height: 300px;
    width: 100%;
}
#search-statment h1{
    position: relative;
    top: 100px;
    color: #ffffff;
    font-family: "Open Sans",sans-serif;
    font-size: calc(40px + 0.8vw);
    font-weight: 600;
    line-height: 52px;
}
#search-filter .horizontal-heading h3{
    font-weight: 600;
    margin-bottom: 20px;
}
.search-filter{
    background: #f9f9f9;
    padding: 30px;
}
.search-bar input{
    font-family: "Open Sans",sans-serif;
    width: 100%;
    border: 1px solid #d1d1d1;
    height: 40px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
    padding-left: 45px;
    margin-bottom: 20px;
}
.search-bar button{
    background: transparent;
    border: none;
    transform: translateY(35px);
    color: #8a8a8a;
    font-size: 20px;
    margin-left: 10px;
}
#type,#category,#university1,#course,#country1,#rating{
    width: 100%;
    border: 1px solid #d1d1d1;
    height: 40px;
    border-radius: 3px;
}
#type,#category,#university1,#course,#country1,#rating,option{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a ; 
    padding: 5px;   
}
.card{
    border: 1px solid #d1d1d1;
    width: 100%;
    margin-bottom: 30px;
}
.img-book{
    width: 100%;
}
.card-body{
    height: 270px;
    padding: 15px;
}
.card-body h4{
    font-family: "Open Sans",sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: #6255a5;
}
ul.note-detail{
    list-style: none;
    padding: 0;
    margin-top: 20px;    
}
ul.note-detail li{
    margin: 0;
    padding: 0;
    margin: 0 15px 15px 0;
}
ul.note-detail img{
    
    height: 17px;
    display: inline-block;
    
    
}
ul.note-detail span{
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    
}
ul.note-detail li:nth-child(1) span{
    margin-left: 10px
}
ul.note-detail li:nth-child(2) span{
    margin-left: 12px
}
ul.note-detail li:nth-child(3) span{
    margin-left: 17px
}

ul.note-detail li:nth-child(4) span{
    color: #df3434;
    margin-left: 24px;
}
.rate {
    float: left;
    height: 40px;
    padding: 0 0px;
}
.rate:not(:checked) > input {
    display: none;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.pagination1{
    margin-right: 100px;
}
ul.pagination li a{
    border: none;
    color: #333333;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
ul.pagination li a i{
    width: 8px;
    height: 15px;
    color: #333333;
    font-size: 25px;
    position: relative;
    bottom: 3px;
}
ul.pagination li a:hover{
    border: 1px solid #6255a5;
    border-radius: 50px;
    background: #6255a5;
    color: #ffffff;
    width: 34px;
    height: 34px;
    line-height: 20px;
}
ul.pagination li a i:hover{
    border: 1px solid #6255a5;
    border-radius: 30px;
    background: #6255a5;
    color: #ffffff;    
}
.pagination>.active>a,.pagination>.active>a:hover{
    border: 1px solid #6255a5;
    border-radius: 50px;
    background: #6255a5;
    color: #ffffff;
    width: 34px;
    height: 34px;
    line-height: 20px;
}
/*================================================
                Notes Details
==================================================*/
#note-details{
    margin-top: 60px;
}
#note-details .horizontal-heading h3{
    font-weight: 600;
    margin-left: 15px;
    margin-bottom: 20px;
}
.img-book1 {
    height: 300px;
    width: 240px;
}
.title h3{
    font-family: "Open Sans",sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;    
}
.title :nth-child(2){
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #333333;
    margin-bottom: 15px;
}
.title :nth-child(3){
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #333333;    
}
.title .btn4{
    font-family: "Open Sans",sans-serif;
    background: #6255a5;
    color: #fff;
    width: 204px;
    height: 40px;
    border-radius: 3px;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
}
.note-content{
    display: flex;
    margin-top: 20px;
    
}

.detail-left p{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;    
}
.detail-left :nth-child(9){
    color: #df3434;
    font-size: 12px;
    line-height: 18px;
}
.detail-right p{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #6255a5;    
}

.line{
    border-bottom: 2px solid #ccc;
    display: block;
    margin: 60px 0;
}
#notes-preview{
    transform: translateY(-60px);
}
.detail-right .rate label{
    font-size: 25px;
}
.detail-right .rate{
    display: flex;
}
/*
   general styles
*/
.center-block-horiz {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .set-margin-cicis-menu-to-go {
    margin: -18px;
  }
  .set-padding-cicis-menu-to-go {
    padding: 20px;
  }
 
  set-box-shadow-cicis-menu-to-go {
    -webkit-box-shadow: 4px 4px 14px #4f4f4f;
    -moz-box-shadow: 4px 4px 14px #4f4f4f;
    box-shadow: 4px 4px 14px #4f4f4f;
  }
  
  /*
  ** Style the iframe
  ** =========================
  */
  /*
      css commmon to all iframes
  */
  .responsive-wrapper {
    position: relative;
    height: 450px; /* gets height from padding-bottom */
    overflow: hidden;
    /* put following styles (necessary for overflow and 
       scrolling handling) inline in .embed-responsive-element-wrapper around iframe because not stable in CSS
      -webkit-overflow-scrolling: touch; 
                        overflow: auto; */
  }
  .responsive-wrapper img,
  .responsive-wrapper object,
  .responsive-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    border-style: none;
    padding: 0;
    margin: 0;
  }
  
  /*
      css particular to this iframe
  */
  
  #Iframe-Cicis-Menu-To-Go {
    max-width: 666.67px;
    max-height: 600px;
    overflow: hidden;
  }
  /*
     padding-bottom = h/w as %
  */
  .responsive-wrapper-padding-bottom-90pct {
    padding-bottom: 90%;
  }
.customer-preview{
    border: 1px solid #d1d1d1;
    width: 100%;
    border-radius: 3px;
    padding: 20px 20px 30px 20px;
}
.revr-detail{
    margin: 0;
    padding: 0;
    
}
.reviewer img{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 20px;
}
.revr-detail h4{
    font-size: 18px;
    font-weight: 600;
}
.revr-detail p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #333333;
}
.line1 {
    border-bottom: 1px solid #ccc;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
#notes-preview{
    margin-bottom: 60px;
}
/*================================================
                pop-up
==================================================*/
.modal-content{
    padding-left: 40px;
    padding-right: 55px;
    padding-bottom: 30px;
}
.modal-header h5{
    color: #6255a5 !important;
    font-size: 26px !important;
    font-weight: 600 !important;
    line-height: 30px !important;
}
.modal-header #check-sym{
    border: 1px solid #6255a5;
    border-radius: 100%;
    border-width: 10px;
    font-size: 35px;
    color: #fff;
    background: #6255a5;
}
.modal-header .close{
    font-size: 40px;
    position: relative;
    top: -140px;
    float: right;
    transform: translateX(50px);
}
.modal-header {
    border-bottom: none;
    margin-top: 40px;
}
.modal-body{
    margin: 0;
    padding: 0;
    margin-top: -40px;
}
.modal-body h6{
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #333333;
}
.modal-body p{
    font-size: 16px !important;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
}
/*================================================
                Dash-board
==================================================*/
#dashboard{
    margin-top: 100px;
}
.dashboard-heading{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.dashboard-heading h4{
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
    margin-bottom: 20px;
}
.dashboard-heading button{
    font-family: "Open Sans",sans-serif;
    background: #6255a5;
    color: #fff;
    width: 150px;
    height: 40px;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    margin-top: 14px;
}

.left-box{
    width: 100%;
    height: 100px;
    display: flex;
}
.box1,.box2,.box3{
    width: 100%;
    height: 100px;
    text-align: center;
    flex-wrap: wrap;
}
.left-box .b{
    height: 100px;
    border: 1px solid #d1d1d1;
    border-left: none;             
}
.left-box .col-md-4{
    height: 100px;
    border-right: none;
}
.left-box .col-md-3{
    height: 100px;
    border: 1px solid #d1d1d1;
}
.box1 h5{
    font-size: 20px;
    font-weight: 600;
    color: #6255a5;
    margin-top: 5px;
}
.box1 img{
    margin: 0 auto;
    margin-top: 5px;
} 

.left-box h4{
    font-size: 30px;
    font-weight: 600;
    color: #6255a5;
    line-height: 34px;
}
.left-box p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
}
.box4,.box5,.box6{
    width: 100%;
    height: 100px;
    border: 1px solid #d1d1d1;
    
}
.right-box h4{
    font-size: 30px;
    font-weight: 600;
    color: #6255a5;
    line-height: 34px;
}
.right-box p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;    
}
#progress-note{
    margin-top: 40px;
}
.table{
    margin-top: 30px;
    border: 1px solid #d1d1d1;
}

.table td,
.table th{
    height: 60px;
    vertical-align: middle !important;
}
.table tr td:nth-child(2){
    color: #6255a5;
}
.rejected-table tr td:nth-child(5){
    color: #6255a5;
}

.table tr:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
.publish-heading{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.item h5{
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;
    margin-top: 25px;
}
.item input{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
    height: 40px;
    width: 322px;
    padding-left: 40px;
}
.item button{
    background: #6255a5;
    color: #fff;
    height: 40px;
    font-family: "Open Sans",sans-serif;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    width: 117px;    
}
.item img{
    position: relative;
    top: 30px;
    margin-left: 10px;
}
.user-photo img{
    width: 36px;
    height: 36px;
    margin-top: 8px;
    
}
.dropdown-menu{
    transform: translateX(-60px); 
}
.dropdown-menu .presentation :hover {
    background: #6255a5;
    color: #fff;
}
.dropdown-menu .purple{
    color: #6255a5;
}
/*================================================
                Add Notes
==================================================*/
#note-title,#note-category,#note-type,#page-number,#inst-country,#inst-name,
#course-name,#course-professor,#course-code,#selling-price{
    font-family: "Open Sans",sans-serif;
    border: 1px solid #d1d1d1;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
}
#display-picture,#upload-note,#course-preview{
    font-family: "Open Sans",sans-serif;
    border: 1px solid #d1d1d1;
    width: 100%;
    height: 124px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
}
#note-description{
    font-family: "Open Sans",sans-serif;
    border: 1px solid #d1d1d1;
    width: 100%;
    height: 150px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
}
.selling-radio{
    font-family: "Open Sans",sans-serif; 
}
.selling-radio input{
    width: 30px;
    height: 30px;
}
.selling-radio label > span{
    color: #6255a5;
    position: relative;
    bottom: 8px;  
    margin-left: 5px;
}
.selling-radio #paid{
    margin-left: 40px;    
}
#bottom-button{
    margin-top: 20px;
    margin-bottom: 60px;
}
.bottom-button{
    width: 150px;
    height: 40px;
    border-radius: 3px;
    background: #6255a5;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
}
/*================================================
My download,My sold notes,rejected,Buyer Requests
==================================================*/
#my-download,#my-sold-notes,#my-rejected-notes,#buyer-requests{
    margin-top: 100px;
}
.top-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-heading h5{
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;
    margin-top: 26px;   
}
.right-heading input{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
    height: 40px;
    width: 322px;
    padding-left: 40px;
}
.right-heading button{
    background: #6255a5;
    color: #fff;
    height: 40px;
    font-family: "Open Sans",sans-serif;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    width: 117px;
}
.right-heading img{
    position: relative;
    top: 30px;
    margin-left: 10px;
}
.presentation .modal{
    display: block;
}
/*================================================
                Add review/Feedback
==================================================*/
#exampleModal{
    margin-top: 200px;
}
#popup1{
    margin-top: 150px;
}
.popup1-header h6{
    color: #6255a5;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.popup1-header span{
    font-size: 40px;
    position: relative;
    bottom: 90px;
    left: 40px;
}
.popup1-body .rate label{
    font-size: 30px;
}
.col-form-label{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333; 
    margin-top: 40px;   
}
#message-text{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a; 
    height: 100px; 
    margin-bottom: 20px;  
}
.popup1-body button{
    font-family: "Open Sans",sans-serif;
    width: 150px;
    height: 50px;
    border-radius: 3px;
    background: #6255a5;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
}
/*================================================
                faq
==================================================*/
#faq{
    background: url(../image/search/banner-with-overlay.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    height: 300px;
    width: 100%;
}
#faq-statment h1{
    position: relative;
    top: 100px;
    color: #ffffff;
    font-family: "Open Sans",sans-serif;
    font-size: calc(30px + 1vw);
    font-weight: 600;
    line-height: 52px;
}
/* ========================================
    > > > > > > > FAQ < < < < < < <
   ========================================*/
#faq1{
    margin-top: 60px;
}
#faq1 .card {
    margin-bottom: 20px;
    border: none;
    border-radius: 0px;
}

#faq1 .card-header {
    background-color: #f3f3f3;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#faq1 .card-header h6 {
	display:inline;
    float: left;
    color: #333333;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    padding: 8px 20px 10px 20px;
}

#faq1 .card-header a.btn9 {
    display: inline;
    float:right;
    margin-top: 20px;
    margin-right: 10px;
}

.accordion a.btn9:hover {
    background: none;
    border: 1px solid transparent;
    outline: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

a[aria-expanded=true] .plus {
   display: none;
}
a[aria-expanded=false] .minus {
   display: none;
}
.general-heading h4 {
    font-family: "Open Sans", sans-serif;
    font-size: calc(20px + 0.4vw);
    font-weight: 600;
    line-height: 25px;
    color: #6255a5;
    margin-top: 30px;
}
#faq1 .card-body{
    height: auto;
}
/*================================================
                Contact Us
==================================================*/
#contact-us{
    background: url(../image/search/banner-with-overlay.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    height: 300px;
    width: 100%;
}
#contact-us-statment h1{
    position: relative;
    top: 100px;
    color: #ffffff;
    font-family: "Open Sans",sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 52px;
}
.contact-heading h4{
    font-family: "Open Sans",sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
    margin-top: 50px;    
}
.contact-heading p{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 40px;
}
.contact-left label,
.contact-right label{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333; 
}
.contact-left input{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
    width: 100%;
    height: 40px;    
}
.contact-button{
    font-family: "Open Sans",sans-serif;
    background: #6255a5;
    color: #fff;
    width: 140px;
    height: 40px;
    border-radius: 3px;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 22px;
    margin-top: 20px;
    margin-bottom: 60px;
}
.contact-right textarea{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
    width: 100%;
    height: 200px;
}













